:root {
    --main-bg-color: #ebf5ee;
    --font-family: arial;
    --transition: all 0.3s linear;
    --clr-darkblue: hsl(205, 78%, 60%);
    --spacing: 0.1rem;
    --clr-white: hsl(0, 0%, 100%);
    --nav-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

body {
    background-color: var(--main-bg-color);
    font-family: var(--font-family);
    margin-top: 150px;
}

p,
h2,
h4 {
    text-align: center;
}

.img-container {
    text-align: center;
}

#pic-img {
    width: 220px;
    height: 300px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rnd-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.logo {
    height: 60px;
}

nav {
    background: var(--clr-white);
    height: 100px;
    box-shadow: var(--nav-shadow);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.nav-center {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

.links a {
    color: black;
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    padding: 0.5rem 1rem;
    transition: var(--transition);
    text-decoration: none;
}
.social-icons a {
    text-decoration: none;
}
.links a:hover {
    color: var(--clr-darkblue);
}

@media screen and (min-width: 800px) {
    .nav-center {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    .nav-header {
        padding: 0;
    }

    .links {
        height: auto;
        display: flex;
    }
}

/* TRANSPARENT NAVBAR WHEN SCROLLING */
.nav-transparent {
    background: transparent;
    opacity: 0.6;
}
